@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root{
    --myBlue:#0052e0;
    --darkBlue:#013ca1;
    --mywhite:#ffffff;
    --textWhite:#e0e0e0;
    --textBlack:#000000;
    --borderColor:#7c7c7c;
    font-family: 'Open Sans', sans-serif;
}
*{
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
}
h1{
    font-size: 20px;
    color:var(--textWhite)
}
h2{
    font-size: 20px;
    color:var(--textBlack);
    margin-top: 10px;
}
p{
    font-size: 12px;
    --textBlack:#000000;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: var(--myBlue);
    height:25vh;
    padding:30px 5vw;
}
.header p{color:var(--textWhite)}
.search{
    height:40%;
    margin-top: auto;
    background-color: darkblue;
    border:none;
    border-radius: 40px;
    padding:0 20px;
    font-size: 20px;
}
.users{
    height:75vh;
    width:100%;
    background-color: var(--mywhite);
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.users__user{
    height:25%;
    border-bottom: 1px solid var(--borderColor);
    padding:15px 5vw;
}
.users__user p{margin-top: 25px;font-size: 14px;}
.users__img{
    border-radius: 100%;
    float:left;
    height:100%;
    margin-right: 20px;
}
